extends layout

block content
    div#back-to-index    
        p 
            a(href='/').back-button1 &lt; back
    div.title
        h1 About
        p -- Any description goes here --
        p whaaaaat