extends layout

block content
  div.mainSection
      aside#menu
          nav.dropdown-menu
              #column1.hidden
                  .menu-title
                  h2 Menu
                  ul.layer1
                      li
                          a.menu-unit#fp FLOOR PLANS
                      li
                          a.menu-unit#f FURNITURES
                      li
                          a.menu-unit#m MEASUREMENTS
                      li
                          a.menu-unit#sp SAVED PLANS
                      li
                          a.menu-unit#p3 EXPORT
              div#column2
                  ul#floor-plans.layer2.hidden
                  .back-button1 &lt; back
                  .menu-title
                      h2 FLOOR PLANS
                  .layerx
                      li
                          a Studio
                      li
                          a 1 Bedroom
                      li
                          a 1 Bedroom + Den
                      li
                          a 2 Bedroom
                      li
                          a 2 Bedroom + Den
                  ul#furnitures.layer2.hidden
                  .back-button1 &lt; back
                  .menu-title
                      h2 FURNITURES
                  .layerx
                      li
                      #chairs.menu-header
                          a Chairs
                      li
                      #sofas.menu-header
                          a Sofas
                      li
                      #tables.menu-header
                          a Tables
                  ul#saved-plans.layer2.hidden
                  .back-button1 back
                  .menu-title
                      h2 SAVED PLANS
                  .layerx
                      li
                          a Plan 1
                      li
                          a Plan 2
                      li
                          a Plan 3
              #column3.hidden
                  #chairs3.layer3.hidden
                  .back-button2 back
                  .menu-title
                      h2 CHAIRS
                  ul
                      li
                          a Chair 1
                      li
                          a Chair 2
                  #sofas3.layer3.hidden
                  .back-button2 back
                  .menu-title
                      h2 SOFAS
                  ul
                      li
                          a Sofa 1
                      li
                          a Sofa 2
                  #tables3.layer3.hidden
                  .back-button2 < back
                  .menu-title
                      h2 TABLES
                  ul
                      li
                          a Table 1
                      li
                          a Table 2
      main#scene
          .title
          h1 War Room Demo
          div#scene-container
          div#blocker
              div#instructions
              p.
                  
                  
              h1 Click to play
              p
              p
                  | 
      Move: WASD
                  br
                  | 
      Look: MOUSE

          #fp-war
              p
              h2 War Room
              p
              p.up Unsaved plan
          #full-screen
              button#fullscreen-button ⛶
          #scene-options
              p Reset
              p Save
          .view-buttons
          button#ortho-view.button.button-general Orthographic
          button#outside-view.button.button-general Outside
          button#inside-view.button.button-general Inside
  script(src="./javascripts/jquery-3.7.1.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js")
  script(src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/loaders/GLTFLoader.js")
  script(src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/PointerLockControls.js")
  script(src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/OrbitControls.js")
  script(src="https://cdn.jsdelivr.net/npm/three@0.128.0/examples/js/controls/DragControls.js")
  script(src="./javascripts/script.js" type="module")
  script(src="./javascripts/dropdown.js", type="module")
