extends layout

block content
    div#back-to-index    
        p 
            a(href='/').back-button1 &lt; back
    div.title
        h1 How to Use
        p -- Description currently under construction --
    div.body-content 
        h3 :D