extends layout

block content
    div#back-to-index    
        p 
            a(href='/').back-button1 &lt; back
    div.title
        h1 How to Use
    div.body-content
        p -- Description currently under construction :D --
        div.pictures
            img(src='/img/demo1.jpg')
            img(src='/img/demo2.jpg')