body {
  width: 100%;
  height: 100%;
  background-color: white;
  margin: 0;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.title h1{
  font-size: 56px;
  font-weight: 400;
  color:rgb(60, 60, 60);
}

.mainSection{
  display: flex;
  flex-direction: row;
  height: auto;
  align-items: center;
}

#menu{
  display: flex;
  width: 15%;
  margin-left: 50px;
}

#scene{
  display: flex;
  flex-direction: column;
  width: 85%;
  height: auto;
  align-items: center;
}
.no-cursor {
  cursor: none;
}

.cursor {
  cursor: pointer;
}

.title{
  text-align: center;
}

nav a{
  color: #333;
  background-color: transparent;
  text-decoration: none;
  margin-bottom: 5px;
}

.dropdown-menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#column1, #column2, #column3{
  position: absolute;
}

.back-button1, .back-button2{
  color:rgb(180, 180, 180);
  width: 50px;
  background: none;
  transition: 0.2s ease-in-out;
  margin-bottom: 10px;
}

.back-button1:hover, .back-button2:hover{
  color:#333;
  background: linear-gradient(to right, #c1e5d100, #1892645a, #c1e5d100);
  cursor: pointer;
}

.menu-title h2{
  color: rgb(70, 70, 70);
  background-color: transparent;
  text-align: center;
  padding: 10px;
  font-weight:200;
  border-bottom: 2px solid rgb(30, 30, 30);
  margin: 0px;
}

.layer1{
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  text-align: center;
}

.layer1 ul{
  position: relative;
}

.layer1 li{
  margin: 5px;
}

.dropdown-menu ul li{
  display: block;
  float: left;
  position: relative;
  border-bottom: 1px solid #445c5290;
}

.dropdown-menu ul a{
  display: block;
  float: left;
  width: 150px;
  padding: 10px 10px;
  color:  #445c52;
  background: transparent;
  transition: 0.2s ease-in-out;
}
.dropdown-menu ul a:hover{
  background: linear-gradient(to right, #c1e5d100, #1892645a, #c1e5d100);
  cursor: pointer;
  color: #333;
}

.dropdown-menu>ul{
  display: flex;
  flex-direction: column;
  margin: 0px;
  position: absolute;
}

.layer2{
  display: flex;
  flex-direction: column;
  padding:0px;
  margin-top:52px;
}

.layerx{
  position: relative;
  display: flex;
  flex-direction: column;
}

.layerx li{
  margin: 5px;
}

.layer3 ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 0px;
}

.layer3 ul li{
  margin: 5px;
}

.view-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button{
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 14px;
  width: 100px;
  height: 30px;
  margin: 5px;
  background-color: transparent;
  color: #384c44;
  border: 1px solid #445c5260;
  border-radius: 6px;
}

.button:hover{
  cursor: pointer;
  background: #c1e5d160;
  color: #333;
}

.button:active{
  background: #445c52;
  color: white;
}

.hidden{
  opacity:0;
  display: none;
}

#blocker {
  display: none;
  position: absolute;
  width: 800px;
  height: 500px;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  margin-top: 140px;
}


#scene-container {
  width: 800px;
  height: 500px;
  /* display: block; */
  display: flex;
  flex-direction: row;
  position: relative;
  justify-content: space-between;
}

#hud{
  display: flex;
  flex-direction: row;
  width: 800px;
  justify-content: space-between;
  position: absolute;
}

#fp-war{
  display: flex;
  flex-direction: column;
  position: relative;
  margin-left: 10px;
}

#fp-war .up, #fp-war h2{
  margin-top: -10px;
  margin-bottom: -20px;
  font-family: Georgia, 'Times New Roman', Times, serif
}

#fp-war h2{
  border-bottom: 1px solid #333;
}

#scene-right{
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: space-between;
  position: relative;
}

#scene-options{
  display: block;
  position: relative;
  margin-right: 10px;
}

#scene-options li{
  border-bottom: 1px solid #445c5290;
}

#scene-options ul{
  list-style: none;
}

#full-screen{
  display: flex;
  justify-content: end;
  position: relative;
}

#fullscreen-button{
  color: white;
  background-color:#384c44;
  font-size: 26px;
  border: solid;
  border-width: thin;
  border-color: white;
  height: 40px;
  width: 40px;
  cursor: pointer;
  z-index: 2;
}

#fullscreen-button:hover{
  background-color:#a4c3b2;
}

#instructions {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
}

.canvas2 {
  width: 500px;
  height: 500px;
  background-color: black;
}

#object-upload-modal{
  position: fixed;
  z-index: 99;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color:rgba(0,0,0,0.5);
}

#modal-content{
  background-color:antiquewhite;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 30%;
  height: 40%;
  color: #333;
  display: flex;
  flex-direction: column;
}

#modal-content h1{
  margin-bottom: 20px;
  padding-left: 30px;
}

#modal-content .form-group{
  text-align: start;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  padding-left: 30px;
}

#modal-content button{
  margin-top: 30px;
  margin-left: 30px;
}

.close{
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover{
  color:#888;
  cursor: pointer;
}